@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

body {
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    padding: 2.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.social-profile {
    display: inline-block;
}

.social-profile-img {
    width: 60px;
    margin: 20px;
    margin-top: 10px;
}

