@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/*
.social-profile {
    display: inline-block;
}
*/

.social-profile-img {
    width: 60px;
    margin: 40px;
    margin-top: 10px;
}